<div class="container mx-auto max-w-screen-lg pb-10 sm:pt-20 pt-4">

  <div class=" pb-16 sm:t-16 text-center  ">
    <h2 class="text-4xl font-bold ">Ben jij klaar om je Bol.com sales een boost te geven?</h2>
    <h3 class="text-2xl mb-12">Start gratis met Bolyo!</h3>

    <a href="https://app.bolyo.nl/users/sign_up"
      class="bg-primary   hover:bg-black hover:text-white py-3 px-16 text-white  text-lg font-bold rounded">Gratis
      aanmelden</a>
    <p class="mt-4 sm:p-0 p-4">Begin gratis met 1 product, je zit nergens aan vast</p>
  </div>


</div>