<div class="sm:w-5/5 flex flex-col  items-center     ">
  <h1 class=" text-4xl text-white font-bold px-4 tracking-wide pb-2 text-center">Bol.com product tracker</h1>

  <p class="   text-white leading-relaxed text-center text-xl sm:pl-20 sm:pr-20   sm:mb-6 mb-6 sm:p-0 sm:m-0">Met Bolyo
    vind je winnende producten die je kunt inkopen en aanbieden op Bol.com, bespaar geld én tijd!</p>
  <a href="https://app.bolyo.nl/users/sign_up"
    class="bg-white   hover:bg-purple-400 py-3 px-6  sm:mt-0 text-lg  font-bold rounded">Gratis aanmelden</a>
  <p class="text-center text-white pl-4 pr-4 pt-2 ">Begin gratis met 1 product, je zit nergens aan vast</p>
</div>
<div class=" sm:mb-0 mt-8 sm:mt-0  sm:w-3/5 sm:pl-12">

  <div class="video ">
    <iframe width="460" height="315" src="https://www.youtube.com/embed/YINWJKuHd5c" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>
</main>