<div class="container mx-auto p-10 sm:p-0 max-w-screen-lg">
  <div class="flex mb-4 flex-col sm:flex-row items-center  ">
      <div class="w-1/2  flex justify-center    ">
        <div class="img">
          <img class="max-w-sm sm:mt-12" src="./images/bespaar_geld.png" alt="Bespaar geld met Bolyo">
        </div>
      </div>

      <div class="sm:w-1/2  text-center flex  sm:p-20 items-center flex-col justify-center">
        <h2 class="text-4xl font-bold pb-4 " > Bespaar geld</h2>
        <p class="text-xl">Een winnend product vinden om te verkopen op Bol is nog nooit zo makkelijk geweest. Met Bolyo track je producten en kan je precies zien welke producten goed verkopen en waar kansen liggen en welke producten je beter kunt overslaan.</p>
        </div>
  </div>

  <div class="flex mb-4 flex-col sm:flex-row flex-col-reverse items-center ">

    <div class="sm:w-1/2  text-center flex  sm:p-20 p-4 items-center flex-col justify-center">
      <h2 class="text-4xl font-bold pb-4 " > Bespaar tijd</h2>
      <p class="text-xl">Een winnend product vinden om te verkopen op Bol is nog nooit zo makkelijk geweest. Met Bolyo track je producten en kan je precies zien welke producten goed verkopen en waar kansen liggen en welke producten je beter kunt overslaan.</p>
      </div>


      <div class="sm:w-1/2  flex justify-center ">
        <div class="img">
          <img class="max-w-sm sm:mt-12 " src="./images/bespaar-tijd.png" alt="Bespaar tijd met Bolyo">
        </div>
      </div>


  </div>

  <div class="flex mb-4 flex-col sm:flex-row items-center  ">
      <div class="w-1/2  flex justify-center ">
        <div class="img">
          <img class="max-w-sm sm:mt-12" src="./images/focus_sourcing.png" alt="Focus op sourcing">
        </div>
      </div>

      <div class="sm:w-1/2  text-center flex  sm:p-20 items-center flex-col justify-center">
        <h2 class="text-4xl font-bold pb-4 " > Focus op sourcing</h2>
        <p class="text-xl">Een winnend product vinden om te verkopen op Bol is nog nooit zo makkelijk geweest. Met Bolyo track je producten en kan je precies zien welke producten goed verkopen en waar kansen liggen en welke producten je beter kunt overslaan.</p>
        </div>


  </div>

</div>
    <div class="business bg-primary pb-12 pt-8 pl-4 spr-4 sm:p-0 ">
          <div class="container mx-auto max-w-screen-lg  sm:pb-8  ">
              <h2 class="text-4xl font-bold pt-8  sm:text-center text-white">Hoe kun je Bolyo inzetten voor je business?</h2>

              <div class="flex  sm:flex-row flex-col mb-4">
                <div class="sm:w-1/2   w-auto">
                  <h3 class="text-2xl text-secondary ">Winnende producten vinden</h3>
                  <p class="text-white text-xl pt-4">Vind winnende producten zonder dat je veel moet investeren. Het is niet nodig om duizenden Euro's uit te geven om te testen wat wel en niet werkt. Track een product en je weet snel genoeg of het een winnend product is.</p>
                </div>
                <div class="sm:w-1/2  w-auto">
                  <h3 class="text-2xl pt-6 sm:pt-0 text-secondary ">Versla de concurrentie</h3>
                    <p class="text-white text-xl pt-4">Krijg inzage in de product voorraad van je concurrenten. Heb je een grote promotie gepland? Controleer hoe ver je concurrenten mee kunnen gaan en profiteer van de dagen dat zij een lagere voorraad hebben door bijvoorbeeld de prijs te verhogen!</p>
                </div>
              </div>

                <div class="flex  sm:flex-row flex-col mb-4">
                <div class="sm:w-1/2   w-auto">
                  <h3 class="text-2xl text-secondary ">Affiliate prooducten</h3>
                    <p class="text-white text-xl pt-4">Ben je een affiliate die Bol.com producten wil promoten? Vind met Bolyo de juiste producten die je kunt promoten en geld kunt verdienen.</p>
                </div>
                <div class="sm:w-1/2   w-auto">
                  <h3 class="text-2xl pt-6 sm:pt-0  text-secondary ">Jouw unieke case</h3>
                    <p class="text-white text-xl pt-4">Bolyo is multifunctioneel inzetbaar. Data is belangrijk en dat krijg je via Bolyo. Gebruik het in jouw voordeel om meer omzet en winst te maken. </p>
                </div>
          </div>
          </div>
    </div>