<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  {% include head.html %}
</head>

<body class="font-body">
  <div class="bg-primary  flex flex-col ">
    <div class="container mx-auto max-w-screen-lg">
      <header class="flex  flex-col h-14  sm:flex-row items-center  pb-2   relative">

        {% include nav.html %}
      </header>
      <main class="flex flex-col sm:flex-row  sm:py-12 py-8 pb-0 sm:pb-20 ">
        {% include home-hero.html %}
      </main>


    </div>
  </div>



  {% include home-content.html %}







  {% include footer-cta.html %}


  {% include footer.html %}


</body>



</html>